**/.dockerignore
**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea
**/*.user
**/*.suo
**/bin
**/obj
**/out
**/publish
**/TestResults
**/node_modules
**/Dockerfile*
**/docker-compose*
**/.env
**/.env.*
**/README.md
**/README.txt
**/SETUP.md
**/docs
**/*.md
LICENSE
